body {
    background-color: #000;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.vault-form input{
    margin: 0 auto;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    width: 100px;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield; /* Firefox */
}